* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page-container {
  display: grid;
  grid-template-columns: 12% 1fr;
}

.content {
  border: solid 1px rgb(214, 212, 212);
  margin: 20px;
  padding: 20px;
  min-height: 95vh;
}
button {
  color: unset;
  padding: unset;
}
