:root {
  --primary-color: #3f51b5;
  --secondary-color: #ff5722;
  --accent-color: #4caf50;
  --background-color: #f5f5f5;
  --text-color: #333;
  --danger-color: #f44336;
  --info-color: #2196f3;
  --warning-color: #ff9800;
}

.user-table-container {
  border: solid 1px rgb(175, 174, 174);
  padding: 10px;
  margin: 10px 0;
}
.modal-content {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--text-color);
  border-radius: 20px 20px 0 0;
}

.modal-header h5.modal-title {
  font-weight: bold;
}

.modal-header button.close {
  color: var(--text-color);
  font-size: 1.5rem;
}

.modal-body {
  background-color: var(--background-color);
}

.modal-footer {
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  border-radius: 0 0 20px 20px;
}

.modal-footer .save-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.modal-footer .cancel-btn {
  background-color: var(--danger-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

label {
  font-size: 18px;
  font-weight: bold;
}

label,
.modal-body input {
  color: var(--text-color);
}

::placeholder {
  color: #999;
}

.modal-body input[type="text"],
.modal-body input[type="password"],
.modal-body input[type="file"] {
  border-radius: 5px;
  border: 1px solid var(--text-color);
  padding: 10px;
}

.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  gap: 5px;
}

.btn-primary {
  background-color: #4caf50;
  color: #fff;
}

.btn-primary:hover {
  background-color: #388e3c;
}

.btn-danger {
  background-color: #f44336;
  color: #fff;
}

.btn-danger:hover {
  background-color: #d32f2f;
}

button {
  margin: 0px 5px;
}
