.class-members {
  margin-top: 20px;
}

.search {
  display: inline-block;
  position: relative;
  width: 30%;
}
.search .custom-input {
  width: 100%;
}

.search box-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  transform: translateY(-50%);
  color: #555; /* Adjust icon color */
}
