/* profileStyle.css */

.profile-picture {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid rgb(34, 192, 240);
}

th,
td {
  padding: 8px;
}

th {
  background-color: rgb(34, 192, 240);
}

tr:nth-child(even) {
  background-color: rgb(34, 192, 240);
}

tr:hover {
  background-color: rgb(34, 192, 240);
}
