
.user-dashboard-search input{
    height: 30px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 30px ;
    padding-right: 10px;
    width: 20%;
}
.user-dashboard-search box-icon{
    height: 25px;
    width: 30px;
    position: absolute;
    transform: translate(15% ,10%) ;
}

.user-dashboard-content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.user-dashboard-content button{
    display: flex;
    align-items: center;
    border: solid 1px #303338eb;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
    background-color: #b7b8bfeb;
    cursor: pointer;
    font-size: 15px;
    gap: 2px
}

.user-dashboard-content box-icon{
    width: 15px;
    height: 15px;
}

.card-title .card-subtitle{
    display: flex;
    flex-wrap: wrap;
}




