.search-course-container{
    display: flex;
    gap: 10px;
}

.search-course-container button {
    cursor: pointer;
}

.search-input{
    display: flex;
    gap: 5px
}

#courseStatus{
    width: 50%;
}

#courseDate{
    width: 70%;
}
