.search-course-container{
    display: flex;
    gap: 10px;
}

.search-course-container button {
    padding: 0.2rem;
    cursor: pointer;
    font-weight: 550;
}

.search-input{
    display: flex;
    gap: 5px
}

.search-input input{
    height: 1.7rem;
    padding: 0.3rem;
}