input.upload-document.form-control {
  width: 50%;
}

.upload-document {
  margin-bottom: 10px;
}

.file-information {
  display: flex;
  justify-content: space-between;
}

.function-button {
  display: flex;
  gap: 10px;
  align-items: center;
}

.function-button button {
  color: red;
  background-color: unset;
  border: unset;
}

.function-button button:hover {
  background-color: rgba(120, 30, 30, 0.922);
  color: white;
}
