.dashboard-container h2 {
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.overview {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.overview-item :hove {
  background-color: #545353;
}

.info-box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.charts {
  display: flex;
  justify-content: space-between;
}

.chart {
  width: 30%;
}
